html {
  font-family: Helvetica;
  background-color: #DDD;
}

.container {
  max-width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; 50px;
  background-color: #FFF;
}

.destaque {
  font-weight: bold;
}

/* cabecalho */

.cabecalho {
  text-align: center;
}

.titulo-principal {
  font-size: 40px;
}

.paragrafo-principal {
  font-style: italic;
}

/* corpo do site */

.img-destaque {
  text-align: center;
  margin-top: 30px;
}

/* biografia container */

.biografia-container {
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px dashed #5c5959;
  border-bottom: 1px dashed #524f4f;
}

/* citações */

.frase-container {
  blackground-color: #555353;
  padding: 30px;
  
}

.frase-container blockquote {
  font-weight: 600;
  font-size: 30px;
}

.frase-container p {
  font-style: italic;
}

/* curiosidades */

.curiosidades-container {
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px dashed #5c5959;
  border-bottom: 1px dashed #524f4f;
}

.curiosidades-container li{
  height: 30px;
}












